<div class="modal-overlay">
    <div class="k-modal">
        <div class="k-modal-header">
            <span>Oteli Sil</span>
        </div>
        <div class="k-modal-content">
           <b>{{hotelInfo?.name}}</b>'i silmek istediğinize emin misiniz?
        </div>
        <div class="k-modal-footer">
                <button class="button button-accept" (click)="accept()">OTELİ SİL</button>
                <button class="button button-deny" (click)="deny()">VAZGEÇ</button>
        </div>
    </div>
</div>